<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MainSuite">
    <test thread-count="5" name="Playwright_Test">
        <classes>
            <class name="org.example.DeepDive.LocatorsExamplesTest" />
            <parameter name="testName" value="locatorsExampleTest"/>
        </classes>
    </test> <!-- SeleniumTest -->
</suite> <!-- MainSuite -->